<div class="sidebar" [class.open]="sidebarOpen" id="sidebar">
  <h2>Fin Flow</h2>
  <ul>
    <li>
      <a routerLink="/assistant">
        <i class="fas fa-home-alt"></i>
        <span class="link-text">Home</span>
      </a>
    </li>

    <li>
      <a routerLink="set-up">
        <i class="fa-regular fa-money-bill-1"></i>
        <span class="link-text">Budget Planner</span>
      </a>
    </li>


    <li>
      <a (click)="logout()">
        <i class="fas fa-door-open"></i>
        <span class="link-text">Log Out</span>
      </a>
    </li>
  </ul>
</div>

<button class="sidebar-toggle" (click)="toggleSidebar()">☰</button>







<!--<nav class="navbar" style="background-color: #f8f9fa; padding: 1rem;">
  <div class="container-fluid d-flex justify-content-between align-items-center">
    <span class="navbar-brand fw-bold" >Fin-Flow</span>

    <div class="d-flex gap-3 flex-wrap">

      <a class="nav-link" routerLink="/assistant"><i class="fas fa-home-alt"></i> Home</a>

        <a class="nav-link" routerLink="favorite"><i class="fas fa-heart"></i> Option 1</a>

        <a class="nav-link" routerLink="crypto"><i class="fas fa-heart"></i> Option 2</a>

    </div>

    <div class="d-flex align-items-center gap-2">
      <input class="form-control form-control-sm" type="search" placeholder="Find something" />
      <button class="btn btn-outline-success btn-sm"><i class="fas fa-search"></i></button>
      <button class="btn btn-link btn-sm text-danger" type="submit" (click)="logout()"><i class="fas fa-door-open"></i></button>
    </div>
  </div>
</nav>

-->
